<div class="jumbotron text-center">
    <h1>Login!!</h1>
    <p>{{ tagline }}</p>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 centered">
                <div ng-show="loginFailure" class="alert alert-danger fade in">
                    Username or password is incorrect. Please try again.
                </div>
                <form ng-submit="login()" name="loginForm">
                    <fieldset class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="dubs@uw.edu" ng-model="infoLogin.email" required>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" ng-model="infoLogin.password" required>
                    </fieldset>
                    <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-success" id="loginButton">Login</button>
                </form>
                {{ infoLogin }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 centered">
                <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook">Log in with Facebook</a>
            </div>
        </div>
    </div>
        
</div>