<div class="jumbotron text-center">
    <div class="container">
        <div class="col-sm-12 centered">
            <h1>{{ user.name }}'s Profile Page</h1>
            <form ng-submit="changeName()">
                <fieldset class="form-group">
                    <label for="name">New Display Name</label>
                    <input type="text" class="form-control" id="newName" name="newName" ng-model="infoName.name">
                </fieldset>
                <button type="submit" class="btn btn-success" id="nameChangeButton">Change</button>
            </form>
            
        </div>
    </div>
    
    <div class="container">
        <div class="col-sm-6 centered">
            <p>Email: {{ user.user.email }}</p>
            <a class="btn btn-info" ui-sref="homepage">Go to Homepage</a>
        </div>
            <div class="col-sm-6 centered">
                <div ng-show="notCurrentPassword" class="alert alert-danger fade in">
                    That isn't your current password! Please make sure to type your password correctly.
                </div>
                <div ng-show="passwordsDontMatch" class="alert alert-danger fade in">
                    Your passwords don't match!
                </div>
                <div ng-show="success" class="alert alert-success fade in">
                    Password changed successfully!
                </div>
                <form ng-submit="changePass()">
                    <fieldset class="form-group">
                        <label for="password">Current Password</label>
                        <input type="password" class="form-control" id="oldPassword" name="oldPassword" ng-model="infoPass.oldPass">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" ng-model="infoPass.newPass">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="password">Confirm New Password</label>
                        <input type="password" class="form-control" id="newPasswordConf" name="newPasswordConf" ng-model="infoPass.newPassConf">
                    </fieldset>
                    <button type="submit" class="btn btn-success" id="nameChangeButton">Change</button>
                </form>
                {{infoPass}}
                <button ng-click="test()">Test</button>
            </div>
    </div>
</div>