<div class="jumbotron text-center">
    <h1>Register!!</h1>
    <p>{{ tagline }}</p>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 centered">
                <div ng-show="registerFailure.exists" class="alert alert-danger fade in">
                    This email is already in use. Please choose another.
                </div>
                <div ng-show="registerFailure.passMatch" class="alert alert-danger fade in">
                    Passwords don't match.
                </div>
                <form ng-submit="register()" name="registerForm">
                    <fieldset class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="dubs@uw.edu" ng-model="infoRegister.email" required>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" ng-model="infoRegister.password" ng-minlength="5" required>
                        <span class="error" ng-show="registerForm.password.$error.minlength">Password must be 5 characters.</span>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="password-confirmation">Confirm Password:</label>
                        <input type="password" class="form-control" id="password-confirmation" name="passwordConfirmation" ng-model="infoRegister.newPass" ng-minlength="5" required>
                        <span class="error" ng-show="registerForm.passwordConfirmation.$error.minlength">Password must be 5 characters long.</span>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="display-name">Display Name:</label>
                        <input type="text" class="form-control" id="display-name" name="name" placeholder="dawgpack123" ng-model="infoRegister.name" ng-minlength="3" required>
                        <span class="error" ng-show="registerForm.name.$error.minlength">Username must be 3 characters long.</span>
                    </fieldset>
                    <button type="submit" ng-disabled="registerForm.$invalid" class="btn btn-success" id="registerButton">Register</button>
                </form>
                {{ infoRegister }}
            </div>
        </div>
    </div>
</div>