@import url(https://fonts.googleapis.com/css?family=Aldrich);

body {
    font-family: 'Aldrich', sans-serif;
}

.error {
    color : red;
}

.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}

.btn-success.raised {
    box-shadow: 0 3px 0 0 #007299;
}

.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

.btn-success.raised:active, .btn-success.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}